html, body{	
	font-family:Helvetica, sans-serif ,"Microsoft JhengHei";
	-webkit-text-size-adjust:none;
	background-color:#FFF;
}


@media screen and (max-width: 736px) {
	
*{
	box-sizing:border-box; /* 讓 padding 與 width 解除關係 */
}

html,body{
	-webkit-text-size-adjust:none; /* iPhone 旋轉後 文字不要放大 */
}



/* --手機版型------------------------------------- */

#WRAPPER{
	width:100%;
	background-image:url(images/bg.png);
	min-width:320px; /* 限定最小寬度 */
}

#LOGO h1{
	width: 150px;
	padding:10px 10px 20px 20px;
}

#LOGO h1 img{
	width: 150px;
}


#CONTENT{
	float:none;
	width:100%;
	margin:20px auto;
	overflow:hidden;
}


#CONTENT span{
	text-align: center;
}

#FOOTER{
	float: none;
	font-size: 0.7em;
	text-align:center;
	line-height: 1.2;
}

}