html, body{	
	font-family:Helvetica, sans-serif ,"Microsoft JhengHei";
	-webkit-text-size-adjust:none;
	background-color:#FFF;
}

/* --電腦版型------------------------------------- */

#WRAPPER{
	width:90%;
	margin:0 auto;
}


#LOGO{
	width:100%;
	margin:0 auto;
	float: left;
}

#LOGO h1{
	padding-top:10px;
}

#CONTENT{
	float:left;
	width:80%;
	margin: 20px auto;
}

h3{
	font-size:2.8em;
	color:#0A0A0A;
	font-style: italic;
	line-height: 2;
	font-family: 'Poiret One', cursive;
}

#goTop{
	display: none;
}

#CONTENT ul{
	width:100%;
}

#CONTENT ul li{
	float: left;
	width: 90%;
	height: 100%;
	border: 1px solid #b3b3b3;
	border-radius:8px;
	text-align:center;
	padding:10px;
	margin: 20px 20px 20px 0;

}


#CONTENT ul li img{
	width: 100%;
	/*height: 240px;*/
	margin-bottom: 10px;
}

#CONTENT ul li span{
	color: #333;
	font-size: 1em;
	line-height: 1.5;
}

.box00 img{
	width:100%; 
}

.box01{ 
	border: 1px solid #b3b3b3; 
	width: 100%; 
	border-radius:8px;
	margin: 60px 0;
}

.box01 img{ 
	width:100%; 
}

.backbtn{
	width: 100px;
	height: 60px;
	border: 2px solid #000;
	border-radius:2px;	
	text-align: center;
	line-height: 60px;
}
.backbtn a{
	font-style: 1.3em;
	color: #000;
	text-decoration: none;
}

#FOOTER{
	float: left;
	width: 100%;
	text-align:right;
	font-size: 0.8em;
	color: #333;
	padding:20px;
	margin-top: 40px;
	border-top: 1px solid #b3b3b3;
}


@media screen and (max-width: 736px) {
	
*{
	box-sizing:border-box; /* 讓 padding 與 width 解除關係 */
}

html,body{
	-webkit-text-size-adjust:none; /* iPhone 旋轉後 文字不要放大 */
}



/* --手機版型------------------------------------- */

#WRAPPER{
	width:100%;
	background-color: #fff;
	min-width:320px; /* 限定最小寬度 */
}

#LOGO h1{
	/* width:60px; */
	padding:10px 10px 0 20px;
	position:fixed; /* 固定在最上面 */
	top:0;
	z-index:999;
}

#LOGO h1 img{
	/* width: 150px; */
}


#CONTENT{
	float:none;
	width:90%;
	margin:100px auto;
	overflow:auto;
}


#goTop{
	position:fixed; 
	right:20px;
	bottom:100px;
	z-index: 7777;
	display: block;

}

#CONTENT ul{
	float: none;
	width: 100%;
}

#CONTENT ul li{
	float: none;
	width: 100%;
	height: auto;
	border-radius:8px;
	margin-bottom: 40px;
	padding:15px; 

}

#CONTENT ul li div{
	display: inline-block;
	padding-left:10px;
}

#CONTENT ul li img{
	width: 100%;
	height: 100%;
	margin-bottom:0px;
}

#CONTENT ul li span{
	display:block;
	font-size:5vw;
	line-height: 1.5;
}

#CONTENT img{
	width:100%; 
}

.box01{ 
	width:95%; 
}

.box01 img{ 
	width:100%; 
}


#FOOTER{
	float: none;
	width:100%;
	font-size: 0.7em;
	text-align:center;
	line-height: 1.2;
	border-top: 1px solid #b3b3b3;

	background-color:#fff;
	position:fixed; /* 固定在最下面 */
	bottom:0;
	left: 0;
	z-index:88;
}

}